{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/jsx-runtime",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
		"indent": [
			"error",
			2,
			{
				"SwitchCase": 1,
				"ignoredNodes": ["ConditionalExpression"]
			}
		]
	}
}
